
ProjectProject/Draft/Operations/3.6 Production/1 Doughs/Lean/2 High Gluten - Whole Wheat/1 Bagels/1 Recipes/Bagels/Jalapeno Cheddar/Recipe.docx
ProjectProject/Draft/Operations/3.6 Production/1 Doughs/Lean/2 High Gluten - Whole Wheat/1 Bagels/1 Recipes/Bagels/Plain/Recipe.docx
ProjectProject/Draft/Operations/3.6 Production/1 Doughs/Lean/2 High Gluten - Whole Wheat/1 Bagels/1 Recipes/Bagels/Sweet Everything/Recipe.docx
ProjectProject/Draft/Operations/3.6 Production/1 Doughs/Lean/2 High Gluten - Whole Wheat/1 Bagels/1 Recipes/Elements/1 Ingredients/Attributes.docx
